:root{
	--maska-img: linear-gradient(to bottom,	);
	--tw-mask-stops: rgba(0, 0, 0, .3) 30% ;	
}
.manga__img{
	width: 240px;
	height: 360px;
	background-image: url("../img/berserk/berserk-manga.jpg") ;
	background-position: center;
	background-size: cover;
	border-radius: 15px;
	margin-bottom: 20px;
	margin-right: 35px;
}
.main{
	padding-top: 100px;
	margin-bottom: 150px;
}
.background{
	background-image: url("../img/berserk/berserk-manga.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
  filter: blur(8px);
	z-index: -2;
	height: 400px;
	width: 100%;
	position: absolute;
	top: -100px;
	left: 0;
}
.background__inner{
	width: 100%;
	height: 400px;
	position: relative;
	color: transparent;
}

.background::before{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom, rgba(14, 14, 14, 0.7) 50%,rgba(18, 18, 18, 0.9) )
}


.manga__right{
	flex-grow: 1;
	padding: 20px;
}
.manga__btns a{
	width: calc(100% - 35px);
	display: block;
	font-size: 18px;
	text-align: center;
	background-color: #5B1111 ;
	padding: 8px 16px ;
	margin-bottom: 20px;
	border-radius: 10px;
}
.manga__btns a:hover{
	transition: all 1s;
	background-color: color-mix(in srgb, #5B1111 80%, #fff 20%);
}
.manga__top{
	border-bottom: 1px solid hsla(0,0%,100%,.1);
	padding-bottom: 15px ;
	margin-bottom: 30px;
}
.manga__category{
	margin-bottom: 20px;
	opacity: 0.4;
	font-size: 19px;
}
.manga__title{
	font-size: 33px;
	margin-bottom: 15px;
}
.manga__inner{
	display: flex;
	justify-content: space-between;
}
.manga__top-list{
	display: flex;
	justify-content: space-between;
}
.manga__top-item{}
.manga__top-item span{
	display: block;
	margin-bottom: 10px;
}
.manga__navigation{
	margin-bottom: 20px;
	font-size: 20px;
}
.manga__navigation a{
	position: relative;

}

.manga__navigation a:before{
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0%;
	height: 3px;
	background-color: #5B1111;
}
.manga__navigation a:hover:before{
	content: "";
	transition: all 1s;
	width: 100%;
	
}

.manga__navigation a{
	margin-right: 10px;
}
.manga__descriptions{
	line-height: 20px;
	margin-bottom: 80px;
}
.manga__content{
	max-width: 650px;
	margin-right: 20px;
}
.manga__transleter{
	margin-bottom: 50px;
}
.manga__transleter span{
	margin-bottom: 10px;
	display: block;
}
.manga__transleter a::before{
	content: url("../img/ypMgDNAP-ezgif.com-resize.jpg");
	width: 36px;
	height: 36px;
	margin-right: 10px;
}

.manga__transleter a{
	display: flex;
	height: 36px;
	align-items: center;	
}
.textarea{
	display: flex;
	color: #fff;
	align-items: center;
	resize: none;
	width: 100%;
	background-color: #171717;
	padding: 20px 20px 0px 20px;
	border-radius: 2rem;
}

.Comments p{
	margin-bottom: 20px;
	font-size: 25px;
}
.Comments{
	position: relative;
}
.airoplane{
	position: absolute;
	bottom: 20px;
  right: 18px;
	height: 20px;
}
.manga__content-inner{
	display: flex;
	justify-content: space-between;
}
.manga__right-img{
	width: 70px;
	height: 105px;
	background-position: center;
	background-size: cover;
}
.mnaga__right-title{
	margin-bottom: 20px;
}
.manga__right-text{
	font-size: 20px;
	margin-bottom: 40px;
}
.right-item__text{
	padding-left: 20px;
}
.manga__right-item{
	display: flex;
	margin-bottom: 20px;
}
.manga__right-subtext{
	font-size: 14px;
	text-align: start;
	width: 61px;
	opacity: 0.6;
}
.img1{
	background-image: url("../img/Bleach/Bleach-manga.jpg");

}
.img2{
	background-image: url("../img/GTO/GTO-manga.jpg");
}
.img3{
	background-image: url("../img/HajimenoIppo/HajimenoIppo-manga.jpg");
}